/* Reset y estilos básicos */
* {
  box-sizing: border-box;
}
body, html {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
  font-family: 'Press Start 2P', cursive; /* Fuente retro */
}

/* Contenedor del juego ocupa toda la ventana */
#game-container {
  width: 100%;
  height: 100vh;
  display: block;
}
